/*navegacion*/
.mdl-layout__header-row{ height: 100px; }
.mdl-layout__drawer-button{ visibility:hidden; }
/*navegacion*/

/*responsive*/
@media screen and (max-width: 1024px){
  .mdl-layout__drawer-button{ visibility: visible !important; }
}
/*responsive*/
